
.list-group-item:hover
{
        background-color: #EEEEEE;
}

#megacontain
{
	margin-top: 64px;
	padding-top: 32px;
}

#profile
{
	margin-top: -160px;
}

#backg
{
	min-height: 300px;
	background: url('../images/static_study.jpg') no-repeat center center fixed;
	background-size: cover;
}
